#document {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #202020;
  font-family: microsoft yahei, wenquanyi micro hei, sans-serif !important;
}

nav,
footer {
  background: #494949;
  display: flex;
  justify-content: center;
}

main {
  color: #bdbdbd;
  flex: auto;
  background: #202020;
}

footer {
  flex-shrink: 0;
}

* {
  margin: 0;
}

h1,
p {
  margin: 0;
  padding: 15px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 350ms;
}

nav > h1 {
  color: #82fcfd;
  text-shadow: 1px 1px 4px #00000080;
}

footer > h1 {
  color: #82fcfd;
  text-shadow: 1px 1px 4px #00000080;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-left: 30px;
  }

  to {
    opacity: 1;
    margin-left: 0px;
  }
}
